<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="hexesoft" value="https://pkgs.dev.azure.com/hexesoft/_packaging/hexesoft/nuget/v3/index.json" />
  </packageSources>  
  <packageSourceCredentials>
    <hexesoft>
        <add key="Username" value="davide.donadello@hexesoft.com" />
        <add key="ClearTextPassword" value="5avknphsb7lrxsu4hyqdyyan5x7cikrpitqtqx4uunwh5lgysmla" />
    </hexesoft>
  </packageSourceCredentials>
</configuration>